@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.3rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --dot-color: #e2e2e2;
    --shine-color: #f0f4ff;
    --shine-color2: #f0f4ff00;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --dot-color: #2e3c51;
    --shine-color: #131f33;
    --shine-color2: #131e3100;
  }
}

blockquote {
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border-left: 5px solid #ccc;
  background-color: var(--card);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@keyframes dotScroll {
  0% {
    background-position-y: 100px;
  }
  to {
    background-position-y: 0;
  }
}

body {
  --dot-size: 1.25px;
}

@media (min-width: 640px) {
  body {
    --dot-size: 2px;
  }
}

body:after {
  content: "";
  animation: dotScroll 16s linear infinite;
  background-image: radial-gradient(
    circle,
    var(--dot-color) var(--dot-size),
    transparent 0
  );
  background-size: calc(14.2857142857% - 1px) 100px;
  background-position: 5px 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  body:after {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  body:after {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

body:after {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 360px) {
  body:after {
    max-width: 360px;
  }
}

@media (min-width: 400px) {
  body:after {
    max-width: 400px;
  }
}

@media (min-width: 640px) {
  body:after {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  body:after {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  body:after {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  body:after {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  body:after {
    max-width: 1536px;
  }
}

#terminal body:after {
  pointer-events: auto;
  position: relative;
  max-width: none;
  --tw-bg-opacity: 1;
  background-color: rgb(22 30 41 / var(--tw-bg-opacity));
  padding: 0;
}

@media (min-width: 768px) {
  #terminal body:after {
    max-width: 640px;
  }
}

@media (prefers-contrast: more) {
  #terminal body:after {
    --tw-border-opacity: 1;
    border-color: rgb(128 140 156 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(16 21 29 / var(--tw-bg-opacity));
  }
}

@media (min-width: 768px) {
  #terminal body:after {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  #terminal body:after:before {
    content: "";
    background: linear-gradient(133.61deg, #a87ffb 17.33%, #25a6e9 100.47%);
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    left: 5rem;
    right: 5rem;
    top: 0.5rem;
    bottom: 0;
    z-index: -10;
    transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0)
      rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-blur: blur(64px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
      var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert)
      var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    transition: opacity 0.5s ease;
  }

  #terminal body:after:after {
    content: "";
    background: linear-gradient(
      to right,
      #2e3c51 0% 34%,
      #2e3c51 49%,
      #fff 57% 64%,
      #a87ffb 66%,
      #25a6e9
    );
    background-size: 300% 100%;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    transition: background-position 0.8s ease;
    inset: -1px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    pointer-events: none;
    position: absolute;
    z-index: -10;
    transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0)
      rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    #terminal.is-nudging body:after:after,
    #terminal:hover body:after:after {
      animation: 0.7s pulseshimmer 1s cubic-bezier(0.8, 0, 0.2, 1) infinite
        alternate;
      animation-fill-mode: backwards;
    }

    @keyframes pulseshimmer {
    }

    #terminal.is-nudging body:after {
      transform: translateY(0);
      animation: 0.7s pulsepeek 0.4s ease-in-out infinite alternate;
    }

    @keyframes pulsepeek {
    }

    #terminal.is-nudging body:after:before {
      opacity: 0.8;
    }

    #terminal.is-nudging body:after:after {
      background-position: 100% 50%;
    }

    #terminal:hover body:after {
      transform: none;
      animation: none;
    }

    #terminal:hover body:after:before {
      opacity: 1;
    }

    #terminal:hover body:after:after {
      background-position: 100% 50%;
    }
  }
}

.terminal-open #terminal body:after {
  animation: none;
}

.terminal-open #terminal body:after:before {
  opacity: 0;
}

.terminal-open #terminal body:after:after {
  animation: none;
  opacity: 1;
  background: none;
  --tw-bg-opacity: 1;
  background-color: rgb(46 60 81 / var(--tw-bg-opacity));
}

body:after {
  position: absolute;
  inset: 0;
  z-index: -10;
}

.terminal-open body:after {
  animation-play-state: paused;
}

@media (prefers-reduced-motion) {
  body:after {
    animation: none;
  }
}

@media (min-width: 768px) {
  body:after {
    background-size: calc(9.3333333333% - 1px) 100px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shine {
  background-image: radial-gradient(
    500px 200px at 50% 0%,
    var(--shine-color) 20%,
    var(--shine-color2)
  );
}
